Supports/
.DS_Store
Aide/ 
Containers/
Nextflow/.nextflow.*
Nextflow/.nextflow
Nextflow/test.nf
Nextflow/work/
data/
sratoolkit.3.1.1-mac-x86_64/
.todo/
.Rproj.user
.Rdata
.Rhistory
.Rproj.user/
Exploration_R.Rmd
reprohackaton.Rproj
Archives/
.gitignore
VM/
