
docker {
	enabled = true
	runOptions= "--entrypoint=''" 
}

report {
	enabled = true
	overwrite = true
	file ='reports/report.html'
}

trace {
	enabled = true
	overwrite = true
	file ='reports/trace.txt'
}

timeline {
	enabled = true
	overwrite = true
	file = 'reports/timeline.html'
}

dag {
	enabled = true
	overwrite = true
	file = 'reports/dag.dot'
}



process{

 executor="local"

	withName: creatingGenomeIndex {
		container="adbouc/bowtie:0.12.7_samtools"
	}

	withName: downloadFastq {
		container="adbouc/sra-toolkit_v2"
		cpus = 2
	}

	withName: trimmingFastQ {
		container="adbouc/im_catadapt"
	}

	withName: MappingFQ_samtools {
		container="adbouc/bowtie:0.12.7_samtools"
		cpus = 2
	}

	withName: FeatureCount {
		container="adbouc/featurecountv1.4.6"
		cpus = 2
	}

	withName: processR{
		container="tikingss/r_enrichment_deseq2:3.4.1"
	}


}
