SRAIDs = [
"SRR10379721",
"SRR10379722",
"SRR10379723",
"SRR10379724",
"SRR10379725",
"SRR10379726",
]

docker {

enabled=True

} 




process {
        executor="local"
  withName: creatingGenomeIndex {
    container="adbouc/bowtie_0.12.7_image2"
  }
           downloadFastq {
    container="adbouc/sra-toolkit_image"
 }
	trimmingFastQ {
    container="elise531/image_cutadapt_python:v11.1"



  }
}

