SRAIDs = [
"SRR10379721",
"SRR10379722",
"SRR10379723",
"SRR10379724",
"SRR10379725",
"SRR10379726",
]

docker {

enabled=True

} 




docker {
enabled = true
temp = ‘~/repro_files/’
runOptions= "--entrypoint=''" }


process {
 cleanup=true
 executor="local"
  withName: creatingGenomeIndex {
    container="adbouc/bowtie:0.12.7_samtools"
  }
    withName: downloadFastq {
    container="adbouc/sra-toolkit_v2"

 }
        withName: trimmingFastQ {
    container="adbouc/im_catadapt"

	withName: MappingFQ_samtools {
    container="adbouc/bowtie:0.12.7_samtools"

  }
}

